<!-- create_end_point.html -->


{% block content %}

<h1>Create End Point</h1>
    
<!-- Display form errors if any -->
{% if end_form.errors %}
    <ul>
        {% for error in end_form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- End Point Form -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ end_form.as_p }}
    <button type="submit">Submit</button>
</form>

<!-- Display success message if it exists -->
{% if success_message %}
    <div class="success-message">{{ success_message }}</div>
{% endif %}

{% endblock %}



<!-- 
<!DOCTYPE html>
<html>

    <h1>End Point</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="{{ end_form.end_point_chainage.id_for_label }}">End Point Chainage:</label>
        {{ end_form.end_point_chainage }}
        
        <label for="{{ end_form.location.id_for_label }}">Share a Location (Map):</label>
        {{ end_form.location }}
        
        <label for="{{ end_form.photo.id_for_label }}">Share End Point Photo:</label>
        {{ end_form.photo }}
        
        <input type="submit" value="End Point">
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html> -->
