{% extends 'navbar.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Your head content here -->
</head>
<body>
    {% block content %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <h2>Upload Media</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ media_form.as_p }}
        <button type="submit">Upload</button>
    </form>

    

    <!-- Add a link to go back to the home page or any other relevant page -->
    <a href="{% url 'home' %}">Back to Home</a>

    {% endblock content %}
</body>
</html>