{% load static%}
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include jQuery UI CSS and JavaScript -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="navbar">
        <a href="#">
            <H1>Lebtech LTD</H1>
        </a>
        <!-- <hr> -->
    </div>
    
</head>


<body id='bg' style="background-image: url('{% static 'img/road4.jpg'%}');">

    <form method="post">
        {% csrf_token %}
        {{ my_date_form.label_tag }}
        {{ my_date_form.my_date }}
        <!-- <input type="submit" value="Submit">2 -->
      </form>

    <script>
        $(document).ready(function() {
          $(".datepicker").datepicker();
        });
      </script>
    
    {% block content %}

    {% endblock content %}
</body>