<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'styles/styles.css' %}" />


    <!-- <link rel="stylesheet" href="(% static 'images/style.css)"> -->
    <title>Lebtech LTD</title>

</head>

  
<body id='bg' style="background-image: url('{% static 'img/road3.jpg'%}');">

    <!-- <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="contact.html">Jobs</a>
        <a href="feedback.html">Contact us</a>
        <div class="animation start-home"></div>
    </nav> -->


    {% include 'base/navbar.html' %}
    {% block content %}

    
    {% endblock content %}

</body>
</html>